<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <div class="row w-100">
      <!-- Left-aligned element -->
      <div class="col-auto">
        <a class="navbar-brand" href="/"><img class="navbar-logo" src="/icons/main_logo.png" alt="logo"></a>
      </div>

      <!-- Middle-aligned element -->
      <div class="col">
        <div class="d-flex justify-content-center"> <!-- Centering container -->
          <form class="form-inline" action="/search" method="get"> <!-- Form inline -->
            <div class="input-group"> <!-- Input group -->
              <input class="form-control me-2" type="search" placeholder="Search User or Post Title" name="term" aria-label="Search">
              <button class="btn btn-success" type="submit">Search</button>
            </div>
          </form>
        </div>
      </div>

      <!-- Right-aligned element -->
      <div class="col-auto">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <%= username %>
                </button>
                <ul class="dropdown-menu">
                  <% if (username === "Sign in"){ %>
                    <li><a class="dropdown-item" href="/login">Sign in</a></li>
                  <% }else{ %>
                    <li><a class="dropdown-item" href="/logout">Log out</a></li>
                  <% } %>
                </ul>
              </div>
            </li>
          </ul>
      </div>
    </div>
  </div>
</nav>

